<h1>Launch Successful</h1>

<%= @lis_person_name_full %>
<%= @lis_user_id %>
<%=@lis_course_id %>
<%=@lis_assignment_id %>

<iframe src="https://harvard.az1.qualtrics.com/jfe/form/SV_7aBwwslOEsvjCTj" width="100%" height="750"></iframe>